.class {
  width: 90%;
  height: 60%;
}

p {
  border: solid;
  padding: 50px;
  font-family:'Comic Sans MS'
}

a {
  color: red;
text-decoration: none;
}

a:hover {
  color: darkred;
text-decoration: underline;
}
