<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>
<body>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
  <button type="button" name="button" class="btn btn-default"><a href="Static.html">Page 1</a></button>
</div>
<div class="btn-group" role="group">
<button type="button" name="button" class="btn btn-default"><a href="Static2.html">Page 2</a></button>
</div>
<div class="btn-group" role="group">
<button type="button" name="button" class="btn btn-default"><a href="Static3.html">Page 3</a></button>
</div>
</div>
  <img src="https://s.aolcdn.com/hss/storage/midas/23ad929f3ee1182ab60f91ef66ec16d3/203511293/overwatch-ed.jpg" class="class" />
<p>  "this is text"</p>
<a href="http://www.google.co.uk">beware of suspicious links</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
