<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css" />
</head>
<body>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
  <button type="button" name="button" class="btn btn-default"><a href="Static.html">Page 1</a></button>
</div>
<div class="btn-group" role="group">
<button type="button" name="button" class="btn btn-default"><a href="Static2.html">Page 2</a></button>
</div>
<div class="btn-group" role="group">
<button type="button" name="button" class="btn btn-default"><a href="Static3.html">Page 3</a></button>
</div>
</div>
<div class="col-sm-4">
<p class="panel panel-default"><img src="http://www.gettyimages.ca/gi-resources/images/Homepage/Hero/UK/CMS_Creative_164657191_Kingfisher.jpg" class="class" /><br>  "this is text"</p>
</div>
<div class="col-sm-4"><p class="panel panel-default">Hi..</p></div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/4bq-nyyLnxU" frameborder="0" allowfullscreen class="vid1"></iframe><hr />
<a href="http://www.google.co.uk">beware of suspicious links</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
</body>
</html>
